div.hidden {
    visibility: hidden;
}

label {
    color: darkblue;
}

div.presentacion {
    width: 70vw;
    text-align: center;
}
 div.dailycard {
    border: 2px double darkblue;
    margin-bottom: 1em;
    padding: 1em;
    
 }