div.hidden {
    visibility: hidden;
}

label {
    color: darkblue;
}

img{
    height: 20px;
    width: 80px;
    margin-top: -5px;
    padding-right: 10px;
}

div.presentacion {
    width: 70vw;
    text-align: center;
}

h2{
    margin-left: 40px;
    margin-top: 20px;
}


.resumen{
    display: flex;
    margin-bottom: 20px;
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3px;
    padding-right: 30px; 
}
.info{
    height: 20px;
    width: 450px;
    padding-right: 10px;
}

.pTempM{
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}

.pTempm{
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}

.pPrec{
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}

.pWind{
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}

.pSun{
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}

.pSet{
    border: solid 2px #0275d8;
    border-radius: 10px;
    background-color: white;
    box-shadow: .5px .5px 5px grey;
    transition: all .3;
    margin-left: 30px;
    margin-top: 10px;
    text-align: center;
}


.pTempM:hover{
    border: solid 1px white;
    transform: scale(1.1);
    cursor: pointer;
    color: white;
    background-color: #DA4040;
}

.pTempm:hover{
    border: solid 1px white;
    transform: scale(1.1);
    color: white;
    cursor: pointer;
    background-color: #21CCD1;
} 


.pWind:hover{
    border: solid 1px white;
    transform: scale(1.1);
    color: white;
    cursor: pointer;
    background-color: #85A5A2;
} 

.pPrec:hover{
    border: solid 1px white;
    color: white;
    background-color: lightblue;
    transform: scale(1.1);
    cursor: pointer;
}

.pSun:hover{
    border: solid 1px white;
    background-color: #FAD6A5;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.pSet:hover{
    border: solid 1px white;
    background-color: #E67451;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.credits{
    border: solid 2px #0275d8;
    border-radius: 10px;
    height: 500px;
    width: 1300px;
    margin-top: 100px;
    margin-left: 70px;
    margin-bottom: 100px;
    background-color: rgb(180, 187, 194);
    padding: 10px 80px;
}

.proyect{
    text-align: center;
}

.proyectOne{
    text-align: center;
}

.proyectTwo{
    text-align: center;  
}

.team{
    text-align: center;
    list-style: none;
}

.teamGit{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.teamGit:hover{
    color: blue;
    transition: .6s;
    cursor: pointer;
}

.pTwo{
    text-align: center;
    padding-left: 10;
}

.pThree{
    text-align: center;
}

.pFour{
    text-align: center;
}